[submodule "repo/todo"]
	path = repo/todo
	url = https://github.com/pickled-herring/todo.git
[submodule "repo/spark"]
	path = repo/spark
	url = https://github.com/pickled-herring/spark.git
[submodule "repo/gdb-dashboard"]
	path = repo/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
